<section class="soft product" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    <div class="row">
        <div class="grid">
            <div class="soft--top grid__item palm-one-whole six-twelfths wrap">

                {% if product.images.size == 0 %}

                <div class="product-photo-container">
                    <img src="{{ '' | img_url: 'grande' }}" alt="" />
                </div>

                {% else %}

                <!-- {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                <div class="product-photo-container">
                    <a href="{{ featured_image | img_url: '1024x1024' }}">
                        <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" />
                    </a>
                </div> -->

                {% if product.images.size > 1 %}
                <!-- <div class="scrollbar">
    				<div class="handle">
    					<div class="mousearea"></div>
    				</div>
    			</div> -->

    			<div class="frame oneperframe" id="oneperframe">

                    <ul class=" clearfix ">
                        {% for image in product.images %}
                        <li class="">
                                <img src="{{ image | img_url: 'grande' }}" alt="{{ image.alt | escape }}" />
                        </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="slideshow__pagination--shop slideshow__pagination"></div>
                {% endif %}

                {% endif %}

            </div>{% comment %}

            {% endcomment %}<div class="soft-double--top grid__item palm-one-whole six-twelfths ">
            <form action="/cart/add" method="post" enctype="multipart/form-data" class="js-addToCartForm" id="addToCartForm">

                <h1 class="beta title" itemprop="name">{{ product.title }}</h1>

                <p class="lead soft--bottom " itemprop="description"> {{ product.description }}</p>

                <div class="soft--bottom {% if product.variants.size <= 1 %} visuallyhidden {% endif %}">
                <select name="id" id="productSelect" class="product-variants  ">
                    {% for variant in product.variants %}
                        {% if variant.available %}

                        <option value="{{variant.id}}">
                            {{ variant.title }} - {{ variant.price | money_with_currency }}
                        </option>

                        {% else %}
                        <option disabled="disabled">
                            {{ variant.title }} - Sold out
                        </option>
                        {% endif %}
                    {% endfor %}
                </select></div>

                <div class="product__price soft--bottom gamma {% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price"><span class="currency soft-half--right">$</span><span id="productPrice" >{{ product.price | money_without_currency }}</span></div>

                <input type="submit" name="add" class="btn btn--primary js-addToCart" id="addToCart" value="Add to Cart">

            </form>

    </div>
</div>
</section>
<section class="soft--sides island--features">
    <div class="row soft-double--top">
        <div class="grid">
            <div class="grid__item  palm-one-whole lap-one-whole nine-twelfths">
                <div class="grid ">

                    {% include 'feature' with product.metafields.features_1 %}{%comment%}
                    {%endcomment%}{% include 'feature' with product.metafields.features_2 %}{%comment%}
                    {%endcomment%}{% include 'feature' with product.metafields.features_3 %}{%comment%}
                    {%endcomment%}{% include 'feature' with product.metafields.features_4 %}{%comment%}
                    {%endcomment%}{% include 'feature' with product.metafields.features_5 %}{%comment%}
                    {%endcomment%}{% include 'feature' with product.metafields.features_6 %}{%comment%}

                    {%endcomment%}</div>



                </div>{% comment %}




                {% endcomment %}<div class="grid__item soft-triple--top palm-one-whole lap-one-whole sidebar  three-twelfths">
                <div class="grid ">
                    {% if product.metafields.box_contents %}
                    <div class="grid__item  one-whole lap-one-half palm-one-shole ">
                        <p class="milli sidebar__title soft-half--ends">Box contents</p>
                        <ul class="list--bulleted milli soft-double--bottom">
                            {% for key in product.metafields.box_contents %}
                            <li>{{ key[1] }}</li>
                            {% endfor %}
                        </ul>
                    </div>{% endif %}{% comment %}

                    {% endcomment %}{% if product.metafields.specifications %}<div class="grid__item  one-whole lap-one-half palm-one-shole ">
                    <p class="milli sidebar__title soft-half--ends">Specifications</p>
                    <ul class="list--bulleted milli">
                        {% for key in product.metafields.specifications %}
                        <li>{{ key[1] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

    var selectCallback = function(variant, selector) {

        var addToCart = $('#addToCart'),
        productPrice = $('#productPrice'),
        comparePrice = $('#comparePrice');

        if (variant) {
            if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').prop('disabled', false).val('Add to Cart');

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val('Sold Out').addClass('disabled').prop('disabled', true);
    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
        comparePrice
        .html('Compare at: ' + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
        comparePrice.hide();
    }

} else {
    // The variant doesn't exist, disable submit button.
    // This may be an error or notice that a specific variant is not available.
    // To only show available variants, implement linked product options:
    //   - http://docs.shopify.com/manual/configuration/store-customization/advanced-navigation/linked-product-options
    addToCart.val('Unavailable').addClass('disabled').prop('disabled', true);
}
};

jQuery(function($) {

    new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback
    });

  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
  $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
  {% if variant.available and found_one_in_stock == false %}
  {% assign found_one_in_stock = true %}
  {% for option in product.options %}
  $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
  {% endfor %}
  {% endif %}
  {% endfor %}

});
</script>
